.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.textBord {
  border-top: 0.5px solid rgba(128, 128, 128, 0.201);
}

.main {
  display: flex;
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.714);
  margin-top: 30px;
  justify-content: space-between;
}

.productsPrice {
  width: 70%;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.productImg {
  max-height: 140px;
  border-radius: 10px;
}

.button {
  text-align: center;
  background-color: rgb(71, 71, 234);
  color: white;
  padding: 7px;
  width: 200px;
  margin: 20px auto;
  border-radius: 6px;
}

.box {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.imgP {
  display: flex;
  justify-content: center;
  align-items: center;
}
